*, ::before, ::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 1.42;
  background: #17191C;
  margin: 0;
  height: 100%;
}

 h1, h2, h3, h4, h5, h6, p {
   margin: 0;
 }

a {
  color: inherit;
  text-decoration: none;
}

.img {
  display: block;
  min-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-weight: 800px;
  font-size: 72px;
  line-height: 98px;
  font-stretch: normal;
  text-transform: uppercase;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  line-height: 49px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
h4 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

h5 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}
  
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  margin-bottom: 50px;
}

.menu {
  font-size: 14px;
  padding-top: 15px;
}

.menu__item {
  display: inline-block;
  margin-right: 54px;
}

.menu__link {
  text-decoration: none;
}

.menu__link:hover {
  color: #FF3D00;
}

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
}

.contacts__workhours {
  font-size: 13px;
  text-decoration: underline;
  color: #FF3D00; 
  line-height: 20px;
  margin-top: -6px;
}

.hero__content {
  margin-bottom: 216px;
}

.hero__hello {
  text-align: center;
}

.hero__title {
  font-weight: bold;
  margin-bottom: 21px;
  width: 70%;
  margin: 0 auto;
}

.hero__text {
  font-size: 18px;
  margin-bottom: 43px;
  line-height: 20px;
  /* width: 35%;
  margin: 0 auto; */
}

.hero__button {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  background: #FF3D00;
  border-radius: 35px;
  padding: 18px 54px;
  text-transform: uppercase;
}

.services {
  margin-bottom: 173px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services__card {
  width: calc(100% / 3 - 17px);
}

.service__card {
  min-height: 476px;
  background: #fff;
  border-radius: 5px;
  border: 5px solid #fff;
  font-size: 14px;
  color: #666666;
  padding: 36px 22px 53px 22px;
  overflow: hidden;
}

.service__card:last-child {
  margin-right: 0;
}

.service__card:hover {
  border-color: #CCCCCC;
  box-shadow: 0 1px 3px 0 rgba(00, 00, 00, .2);
}

.service__icon {
  display: block;
  position: relative;
  width: 84px;
  height: 80px;
  margin-bottom: 38px;
  margin-left: 2px;
  }
.service__title {
  margin-bottom: 17px;
}

.service__options {
  display: flex;
  justify-content: space-between;
  color: #666666;
  margin-bottom: 22px;
}


.service__option {
  margin-right: 57px;
}

.service__option:first-child {
  width: 120px;

}

.service__option:last-child {
  margin-right: 0;
}

.service__text-special {
  font-weight: bold;
  color: #000;
}
.service__text {
  font-size: 14px;
  line-height: 22px;
  color: #666666;
  margin-bottom: 29px;
}
.button__other {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  color: #ff5500;
  text-decoration: none;
  
  display: inline-block;
  border: 2px solid #ff5500;
  background: #fff;
  border-radius: 35px;
  padding: 18px 55px;
  text-transform: uppercase;
}

.button__other:hover {
  background: #ff5500;
  color: #fff;
}

.news{
  margin-bottom: 147px;
}

.news__title {
  text-transform: uppercase;
  margin-bottom: 55px;
}

.news__promo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.news__item {
  height: 394px;
  vertical-align: top;
  margin-right: 2%;
  flex: 1;
}

.unit-news {
  position: relative;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.unit-news__pic {
  width: 100%;
  height: 100%;
}

.unit-news__description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 80px 26px 30px;
  min-height: 15px;
}

.unit-news__date {
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
}

.unit-news__subtitle {
  margin-bottom: 0px;
}

.unit-news__text {
  margin-top: 7px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__info {
  line-height: 20px;
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
  font-weight: bold;
  line-height: 21px;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  line-height: 32px;
}

.pagination__link-active:hover {
  background: #f50;
  vertical-align: middle;
}

.about-us {
  margin-bottom: 95px;
}

.about-us__container {
  padding-top: 97px;
  position: relative;
  display: flex;
}

.about-us__pic {
  position: absolute;
  top: 0;
  left: 0;
}

.about-us__item {
  width: 785px;
  padding: 70px 202px 66px 81px;
  background: #fff;
  border-radius: 5px;
  margin-left: auto;
  position: relative;
}

.about-us__title {
  color: #000;
  line-height: 49px;
  margin-bottom: 37px;
  margin-top: 0px;
  display: inline-block;
}

.about-us__text {
  color: #060606;
  width: 501px;
  line-height: 27px;
  margin-bottom: 43px;
  display: inline-block;
}

.about-us__button {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  background: #FF5400;
  border-radius: 35px;
  padding: 18px 40px;
  text-transform: uppercase;
  display: inline-block;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 170px;
}

.footer-main__container:before {
  position: absolute;
  content: "";
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255,0.1);
  top: -31px;
  
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col--alight--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__logo {
  position: absolute;
  margin-right: 130px;
}

.footer__menu {
  position: absolute;
  left: 303px;
  bottom: 11px;
  font-size: 14px;
  margin: 0px;
}
 

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #FF3D00;
}

.footer__socials {
  font-style: normal;
  text-align: right;
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  left: 703px;
}

.socials__item {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.contacts__footer-workhours {
  font-size: 11px;
  text-decoration: none;
  color: #9A9A9A; 
}

.main-pic-wrapper {
  background: url("img/background/hero.png") center top no-repeat, url("img/background/bottom-pic.png") center bottom 306px no-repeat
}



/* Видео-студия. Услуги */

.top-line {
  display: flex;
  flex-direction: column;
  min-height: 416px;
  background: url(img/background/top-line.png) right top no-repeat;
  padding-bottom: 28px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page__title {
  margin-bottom: 50px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
display: none;
}

.page-content {
  background: #fff;
  color: #303030;
  min-height: 990px;
  padding: 100px;
}

.offers {
  margin-bottom: 70px;
}

.offer {
  display: flex;
  justify-content: space-between;
}

.offer__img {
  margin-right: 5%;
}

.offer__content {
  flex: 1;
  padding-bottom: 50px;
}

.offer__title {
  color: #000;
  margin-bottom: 27px;
}

.offer__text {
  margin-bottom: 35px;
  line-height: 27px;
}

.section__part {
  background: #fff;
  padding: 90px 0px;
  display: flex;
  justify-content: space-between;
}

.partners__title {
  color: #000;
}

.section__part--bg--grey {
  background: #F4F5F5;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  
  
}

.partners__item {
  
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 210px;
  height: 70px;
  align-items: center;
}