.dropdown {
  position: relative;
}

.dropdown__link {
  color: #FF3D00; 
  text-decoration: underline;
  opacity: 0.9;
}

.dropdown:hover .dropdown__menu {
  right: 0;
  opacity: 0.8;
}

.dropdown__menu {
  position: absolute;
  background: #fff;
  opacity: 0;
  border: 1px solid black;
  padding: 11px 18px 15px;
  min-width: 160px;
  top: 100%;
  color: #1E1F20;
  margin-top: 6px;
  right: 9999px;
  border-radius: 7px;
  transition: opacity 0.5s;
}

.dropdown__menu:before {
  content: "";
  display: block;
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: -29px;
}

.dropdown__menu:after {
  content: "";
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: -7px;
  right: 44px;
  transform: rotate(45deg);
}

.dropdown__list {
  text-align: start;
}

.dropdown__text--bold {
  font-weight: 700;
}