.footer {
  position: relative;
  display: flex;
  align-items: center;
  height: 170px;
}

.footer-main:before {
  display: flex;
  content: "";
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255,0.1);
  top: -31px; 
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col--alight--right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__logo {
  position: absolute;
  margin-right: 130px;
}

.footer__menu {
  position: absolute;
  left: 303px;
  bottom: 11px;
  font-size: 14px;
  margin: 0px;
}
 

.menu__link {
  font-size: 14px;
  text-decoration: none;
}

.menu__link:hover {
  color: #FF3D00;
}

.footer__socials {
  font-style: normal;
  text-align: right;
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  left: 703px;
}

.socials__item {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.contacts__footer-workhours {
  font-size: 11px;
  text-decoration: none;
  color: #9A9A9A; 
}

