.hero {
  margin-bottom: 233px;
}

.hero-container {
  display: block;
}

.hero__hello {
  text-align: center;
}

.hero__title {
  font-weight: bold;
  width: 70%;
  margin: 0 auto 18px;
  padding-top: 105px;
}

.hero__text {
  font-size: 18px;
  margin-bottom: 43px;
  line-height: 20px;
  /* width: 35%;
  margin: 0 auto; */
}

.hero__button {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  background: #FF3D00;
  border-radius: 35px;
  padding: 20px 54px;
  text-transform: uppercase;
  transition: 0.3s;
}
