.input {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.input__container {
  width: 1920px;
  margin: 0 auto;
}

.input__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
}

.input__logo {
  margin-bottom: 38px;
}

.input__block {
  opacity: 0;
  animation: rotateIn 0.9s;
  animation-fill-mode: forwards;
}

@keyframes rotateIn {
  from {
    opacity: 0.1;
    transform: translate(0px, 100px) scale(0.1) rotate(20deg);
  }

  45% {
    transform: rotate(-13deg);
  }

  70% {
    transform: rotate(7deg);
  }

  90% {
    transform: rotate(-2deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}