.partners {
  background: #fff;
  padding: 85px 0px 43px;
  display: flex;
  justify-content: space-between;
}

.section__partners--bg--grey {
  background: #F4F5F5;
}

.partners__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.partners__title {
  line-height: 65px;
  color: #000;
  font-weight: bold;
  margin-bottom: 75px;
  flex-direction: column;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  flex-grow: 1;
  min-width: 282px;
  max-width: 290px;
  height: 138px;
  text-align: center;
  filter: grayscale(1);
  transition: filter 0.3s;
}

.partners__link {
  text-decoration: none;
}

.partners__item:hover {
  filter: grayscale(0);
}

.partners__item:nth-child(4n+1) {
  min-width: 231px;
  max-width: 258px;
  text-align: left;
}

.partners__item:nth-child(4n+4) {
  max-width: 253px;
  min-width: 200px;
  text-align: right;
}

.partners__icon {
  display: inline-block;
}