.reviews {
  background: #fff;
  color: #303030;
  padding-top: 102px;
  padding-bottom: 92px;
}

.reviews__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reviews__list {
  columns: 2;
  column-gap: 30px;
  margin-bottom: 48px;
}

.review__item {
  display: inline-flex;
  flex-direction: column;
  background: #F4F5F5;
  padding: 50px 30px 7px;
  margin-bottom: 17px;
}

.review__head {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}

.review__avatar {
  margin-right: 20px;
  width: 142px;
  height: 142px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.review__name {
  color: #1A1B1E;
  font-weight: 700;
  font-size: 24px;
  line-height: 42px;
  display: inline-flex;
  margin-right: 6px;
}

.review__name:hover {
  color: #2E77A4;
  text-decoration: underline;
}

.review__name:after {
  content: url("../../img/social/vk-blue.png");
  height: 30px;
}

.review__tag-item {
  
  margin-right: 3px;
  margin-bottom: 3px;
}

.review__tag-item:last-child {
  margin-right: 0;
}



.review__title {
  color: #202020;
  line-height: 42px;
  margin-bottom: 22px;
  padding-right: 37px;
}

.review__text {
  line-height: 27px;
  margin-bottom: 44px;
}

.review__date {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 31px;
  color: #202020;
}










