.top-line {
  display: flex;
  flex-direction: column;
  min-height: 416px;
  background: url("../../img/background/top-line.png") top no-repeat;
  padding-bottom: 24px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page__title {
  margin-bottom: 20px;
}